@import "./header.css";
@import "./projects.css";
@import "./competencies.css";
@import "./services.css";
@import "./contacts.css";
@import "./footer.css";
@import "./burger.css";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    background-color: rgb(0, 0, 0);
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1180px;
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 13px;
    }
}